python
streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-gpu
langchain_google_genai
sentence-transformers
rank_bm25
langchain-community
Flask
Flask-HTTPAuth
werkzeug
pymupdf
